* {
    background-color: gray;
}

.centre{
    background-color: white;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

div, strong {
    background-color: white;
}

button, input {
    background-color: whitesmoke;
    margin-bottom: 20px;
}